.wrapper{
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    margin-top: 3rem;
    
}
.wrapper__input{
    margin-right: 6rem;
}
.wrapper__left-collum{
    display: flex;
    flex-direction: column;
}
.wrapper__searchbar{
    margin-bottom: 6rem;

}
.wrapper_checkbox-radio{
    display: flex;
    justify-content: start;
}
.wrapper_checkbox{
    margin-right: 3rem;
}

