  
:root{
    --gray-background:#E5E5E5;
    --purple-frame:#8055FF;
    --black-color:#000000;
    --white-color:#FFFFFF;
    --light-blue-text:#BAD8F5;
    --light-blue-frame:#459DF5;
    --red-frame:#F53152;
    --blue-background:#BAD8F5;
    }
body{
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}
.svg{
    display: none;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 22rem;
    height: 25rem;
    padding: 3.5rem 3rem 3rem 3rem;
    background-color: var(--gray-background); 
    border: 0.0625rem dashed var(--purple-frame);      
    }

.input__date{
    padding: 0.5rem 0rem 0.5rem 0rem;
    margin-bottom: 3.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    }

.input__title{
    margin-bottom: 0.5rem;
    line-height:1rem;
    color: var(--black-color);
    }

.input__entry-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:2rem;
    width: 16rem;
    background-color: var(--white-color);
    border: 0.0625rem solid;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    }

.input__date-area{
    border: 0;
    padding: 0;
    line-height: 1rem;
    width: 100%;
    }

.input__date-area_disabled{
        background-color: var(--blue-background);
    }
.input__date-area::placeholder{
    color: var(--light-blue-text);
    }  

.input__entry-field_empty{
    border-color: var(--light-blue-frame);
    }
.input__entry-field_incorrect {
    border-color: var(--red-frame);
    }  
.input__entry-field_disabled {
    border-color: var(--light-blue-frame);
    background-color: var(--blue-background);
    }
 .input__button{
     background-color: transparent;
     cursor: pointer;
     border: none;
    } 
.input_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
 } 
.input_icon_incorrect{
    stroke: var(--light-blue-text);
    width: 1rem;
    height: 1rem;
}

.input_icon_disabled{
    stroke: var(--black-color);
    width: 1rem;
    height: 1rem;
}

    

 
